
#btnLogin {
    margin: 0 auto ;
    margin-top: 10px;    
    display: block;
    text-align: center;
}


#imgLoading {
    margin: 0 auto ;
    margin-top: 10px;    
    display: block;
    text-align: center;
}
.icon-login {
    margin-right: 5px;
}

#background { 
    background: url(../../../assets/img/background/background.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#divLogin { 
    opacity: 0.9;
}


#imgLogo {
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    background-image: url(../../../assets/img/brand/logo2.jpg);
}
