#cardContainer {
    margin: 0 auto ;
    margin-top: 40px;    
    display: block;
    box-shadow: 1px 1px 1px #666;
}

#header {
    background-color: transparent;
}

#footer {
    background-color: transparent;
}

label {
    font-weight: bold;
}

#btnChange {
    font-size: 15px;
}
