<div class="animated fadeIn" >
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" [formGroup]="changePasswordForm">
      <div class="card col-md-10" id="cardContainer">
        <div class="card-header" id="header">
          <h4 class="card-title mb-0">Change Password</h4>
        </div>
        <div class="card-body">
  
          <!-- Input Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Old Password: </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="oldPassword" formControlName="accOldPassword" [ngClass]="{'is-invalid': isInvalid('accOldPassword') || isNotCorrect == true}">
              <div class="invalid-feedback" *ngIf="changePasswordForm.hasError('required','accOldPassword')">
                Old password is required !
              </div>
              <div class="invalid-feedback" *ngIf="isNotCorrect == true">
                  Old password is not correct !
                </div>
            </div>
          </div>
  
          <!-- Input Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">New Password: </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="password" formControlName="accPassword" [ngClass]="{'is-invalid': isInvalid('accPassword')}" >
              <div class="invalid-feedback" *ngIf="changePasswordForm.hasError('required','accPassword')">
                New Password is required !
              </div>
              <div class="invalid-feedback" *ngIf="changePasswordForm.hasError('minlength','accPassword')">
                Min length &lt; 6
              </div>
            </div>
          </div>
  
          <!-- Input Confirm Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Confirm Password: </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="confirmPassword" formControlName="accConfirmPassword"
                [ngClass]="{'is-invalid': isNotMatch('accConfirmPassword')}">
              <div class="invalid-feedback" *ngIf="changePasswordForm.hasError('notMatch','accConfirmPassword')">
                The passwords are not equal.
              </div>
            </div>
          </div>
        </div>
  
        <div class="card-footer" id="footer">
            <button type="submit" class="btn btn-info" id="btnChange" (click)="changePassword()" >
              <i class="icon-note"></i> Update</button>
          </div>
      </div>
    </form>
  </div>