
#body {
    background: url(../../../assets/img/background/backgroundIntro.jpg)  no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    background-size: 100% 100%;

}
// #slidebar {
//     background-color: unset;
// }

#menu {
    background-color: #2f353a;
}
