<div class="animated fadeIn" id="cardContainer">
    <div id="title">
      <h3> Invidual Information </h3>
      <h5> The basic information, such as your name or email .... </h5>
    </div>
    <div class="card" id="body">
      <div class="card-body" >
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"
          [formGroup]="accountDetailForm">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">Profile</h4>
                <div class="small text-muted"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <!-- Input Name -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input" for="iputID"> Username: </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" readonly=true formControlName="accUsername">
                </div>
              </div>
  
              <!-- Input Fullname -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Fullname: </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="accFullname" [ngClass]="{'is-invalid': isInvalid('accFullname'),
                            'is-valid' : isValid('accFullname')}">
                  <div class="invalid-feedback" *ngIf="accountDetailForm.hasError('required','accFullname')">
                    Fullname is required !
                  </div>
                  <div class="invalid-feedback" *ngIf="accountDetailForm.hasError('maxlength','accFullname')">
                    Max length &lt; 45
                  </div>
                </div>
              </div>
  
              <!-- Radio Gender -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="inline-radios">Gender: </label>
                <div class="col-md-9 col-form-label">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="accGender" value=0>
                    <label class="form-check-label" for="radio1">Male
                      <i class="icon-symbol-male"></i>
                    </label>
                  </div>
                  <br />
                  <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="accGender" value=1>
                    <label class="form-check-label" for="radio2">Female
                      <i class="icon-symbol-female"></i>
                    </label>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="card-header">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">Contact Information</h4>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <!-- Input Email -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Email: </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="accEmail" [ngClass]="{'is-invalid': isInvalid('accEmail'), 
                          'is-valid' : isValid('accEmail') }">
                  <div class="invalid-feedback" *ngIf="accountDetailForm.hasError('required','accEmail')">
                    Email is required !
                  </div>
                  <div class="invalid-feedback" *ngIf="accountDetailForm.hasError('email','accEmail')">
                    Email must be right format [abc@xyz.com]
                  </div>
                </div>
              </div>
  
              <!-- Input Phone -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Phone: </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="accPhone" [ngClass]="{'is-invalid': isInvalid('accPhone'), 
                          'is-valid' : isValid('accPhone') }" pattern="^(0|84)([-. ]?[0-9]{1}){9,10}[-. ]?$">
                  <div class="invalid-feedback" *ngIf="accountDetailForm.hasError('required','accPhone')">
                    Phone is required !
                  </div>
                  <div class="invalid-feedback" *ngIf="accountDetailForm.hasError('maxlength','accPhone')">
                    Max length &lt; 11
                  </div>
                  <div class="invalid-feedback" *ngIf="accountDetailForm.hasError('pattern','accPhone')">
                    Phone must be number and with format (09xxxxxxxx) or (84-9xxxxxxxx)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer" id="footer">
        <button type="submit" class="btn btn-warning" id="btnSubmit" (click)="saveAccountDetail()">
          <i class="icon-book-open"></i> Update</button>
      </div>
    </div>
  </div>