#title {
    height: 100px;
    width: 100%;;
    background-color:#FFFFFF;
    text-align: center;
    vertical-align: middle;
    border-radius: 30px;
    opacity: 0.8;
}

h5 {
    color:  	#8f9ba6;
}
h3 {
    padding-top: 15px;
}
label {
    font-weight: bold;
}
card-footer {
    text-align: center;
}
#btnSubmit {
    margin: 0 auto;
    display: block;
}

#cardContainer {
    margin-top: 30px;
}
#footer {
    border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;
}

#body {
    border-radius: 30px;
    margin-top: 20px;
}