<div class="animated fadeIn">
  <div class="card" id="cardContainer">
    <div class=card-header>
      <strong>Area Detail </strong>
      <small>{{areaDetail.id}}</small>
    </div>
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" [formGroup]="areaDetailForm">
        <!-- Show ID -->
        <div class="form-group row" *ngIf="mode == 'detail'">
          <label class="col-md-3 col-form-label" for="text-input" for="inputSuccess1"> ID: </label>
          <div class="col-md-9">
            <input type="text" class="form-control" readonly=true formControlName="areaID">
          </div>
        </div>

        <!-- Input Floor -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Floor: </label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="areaFloor"
              [ngClass]="{'is-invalid': isInvalid('areaFloor'), 'is-valid' : isValid('areaFloor')}"
              pattern="([0-9]{1,2})">
            <div class="invalid-feedback" *ngIf="areaDetailForm.hasError('required','areaFloor')">
              Floor is required !
            </div>
            <div class="invalid-feedback" *ngIf="areaDetailForm.hasError('pattern','areaFloor')">
              Floor must be a number and not get over 100 !
            </div>
          </div>
        </div>

        <!-- Input Name -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Name: </label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="areaName"
              [ngClass]="{'is-invalid': isInvalid('areaName'), 'is-valid' : isValid('areaName')}">
            <div class="invalid-feedback" *ngIf="areaDetailForm.hasError('required','areaName')">
              Name is required !
            </div>
            <div class="invalid-feedback" *ngIf="areaDetailForm.hasError('maxlength','areaName')">
              Max length &lt; 45
            </div>
          </div>
        </div>

        <!-- Show Created Date  -->
        <div class="form-group row" *ngIf="mode == 'detail'">
          <label class="col-md-3 col-form-label" for="text-input" for="inputSuccess1"> Created Date: </label>
          <div class="col-md-9">
            <input type="text" class="form-control" readonly=true formControlName="areaCreatedDate">
          </div>
        </div>

        <!-- Show Updated Date  -->
        <div class="form-group row" *ngIf="mode == 'detail'">
          <label class="col-md-3 col-form-label" for="text-input" for="inputSuccess1"> Updated Date: </label>
          <div class="col-md-9">
            <input type="text" class="form-control" readonly=true formControlName="areaUpdatedDate">
          </div>
        </div>

        <!-- Show Status  -->
        <div class="form-group row" *ngIf="mode == 'detail'">
          <label class="col-md-3 col-form-label" for="text-input" for="inputSuccess1"> Status: </label>
          <div class="col-md-9">
            <input type="text" class="form-control" readonly=true formControlName="areaStatus">
          </div>
        </div>

        <!-- Show Updated By -->
        <div class="form-group row" *ngIf="mode == 'detail'">
          <label class="col-md-3 col-form-label" for="text-input" for="inputSuccess1"> Updated By: </label>
          <div class="col-md-9">
            <input type="text" class="form-control" readonly=true formControlName="areaUpdatedBy">
          </div>
        </div>

        <!-- Show store ID -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="select1"> Store: </label>
          <div class="col-md-9">
            <select class="form-control" id="select1" name="select1" formControlName="areaStore" disabled="">
              <option *ngFor="let store of stores" value="{{store.id}}">{{store.name}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer" *ngIf="mode =='add'">
      <button class="btn btn-sm btn-primary" (click)="goBack()">
        <i class="icon-action-undo"></i> Back</button>
      <button type="submit" class="btn btn-sm btn-warning" (click)="addArea()">
        <i class="icon-book-open"></i> Add</button>
    </div>
    <div class="card-footer" *ngIf="mode == 'detail'">
      <button class="btn btn-sm btn-primary" (click)="goBack()">
        <i class="icon-action-undo"></i> Back</button>
      <button type="submit" class="btn btn-sm btn-warning" (click)="updateAreaByID()"
        *ngIf="areaDetail.status == 'active'">
        <i class="icon-book-open"></i> Update</button>
      <button type="button" class="btn btn-sm btn-danger" (click)="inactiveAreaByID()"
        *ngIf="areaDetail.status == 'active'">
        <i class="icon-trash"></i> Inactive </button>
      <button type="button" class="btn btn-sm btn-success" (click)="activeAreaByID()"
        *ngIf="areaDetail.status == 'inactive'">
        <i class="icon-check"></i> Active </button>
    </div>
  </div>
</div>